<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Home Page</title>
  <link rel="stylesheet" href="style.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="header-wrap">
        <a href="#" class="logo"><img src="./assets/images/logo.png"></a>
        <ul class="menu-list">
          <li><a href="home.component.html">Home</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="list.component.html">Shop</a></li>
                    <li><a href="blog.html">blog</a></li>
        </ul>
        <div class="right-menu">
          <a href="#" class="head-ico search"></a>
          <a href="account.component.html" class="head-ico user"></a>
          <a href="cart.component.html" class="head-ico cart"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="breadcrumb"> 
    <div class="wrapper">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Cart</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <section class="cart">
        <div class="wrapper">
          <h2 class="title">shopping cart</h2>
          <table class="cart-list">
              <tr class="cart-head">
                <th class="col">Item</th>
                <th class="col">price</th>
                <th class="col">qty</th>
                <th class="col">total</th>
                <th></th>
              </tr>
              <tr>
                <td class="col">
                  <div class="item">
                    <div class="img-box">
                      <img src="./assets/images/prod-img1.jpg">
                    </div>
                    <div class="data"><span>Item name</span>
                      <p>Lorem Ipsum has been the industry's standard 
                        dummy text ever since.</p>
                    </div>
                    
                  </div>
                 
                </td>
                <td class="col">
                  <span>₹320.00</span>
                </td>
                <td class="col">
                  <div class="qty-btn">
                    <Span>-</Span>
                    <input type="number" name="qty" id="qty" value="1">
                    <Span>+</Span>
                   </div>
                  </td>
                <td class="col">
                  <span>₹320.00</span>
                </td>
                <td> <a href="#" class="close">X</a></td>
               
              </tr>
              <tr>
                <td class="col">
                  <div class="item">
                    <div class="img-box">
                      <img src="./assets/images/prod-img1.jpg">
                    </div>
                    <div class="data"><span>Item name</span>
                      <p>Lorem Ipsum has been the industry's standard 
                        dummy text ever since.</p>
                    </div>
                    
                  </div>
                 
                </td>
                <td class="col">
                  <span>₹320.00</span>
                </td>
                <td class="col">
                  <div class="qty-btn">
                    <Span>-</Span>
                    <input type="number" name="qty" id="qty" value="1">
                    <Span>+</Span>
                   </div>
                  </td>
                <td class="col">
                  <span>₹320.00</span>
                </td>
                <td> <a href="#" class="close">X</a></td>
               
              </tr>
              <tr>
                <td class="col">
                  <div class="item">
                    <div class="img-box">
                      <img src="./assets/images/prod-img1.jpg">
                    </div>
                    <div class="data"><span>Item name</span>
                      <p>Lorem Ipsum has been the industry's standard 
                        dummy text ever since.</p>
                    </div>
                    
                  </div>
                 
                </td>
                <td class="col">
                  <span>₹320.00</span>
                </td>
                <td class="col">
                  <div class="qty-btn">
                    <Span>-</Span>
                    <input type="number" name="qty" id="qty" value="1">
                    <Span>+</Span>
                   </div>
                  </td>
                <td class="col">
                  <span>₹320.00</span>
                </td>
                <td> <a href="#" class="close">X</a></td>
               
              </tr>
            </table>
            <div class="total-wrap">
              <h6 class="total">Subtotal: ₹1280</h6>
              <a href="shipping.component.html" class="btn">proceed to checkout</a>
            </div>
        </div>
    </section>
  </div>
  <footer>
    <div class="wrapper">
        <div class="footer-wrap">
            <div class="col">
              <h6>categories</h6>
              <ul>
                <li><a href="#">category1</a></li>
                <li><a href="#">category2</a></li>
                <li><a href="#">category3</a></li>
                <li><a href="#">category4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>customer service</h6>
              <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>My Account</h6>
              <ul>
                <li><a href="#">order status</a></li>
                <li><a href="#">saved products</a></li>
                <li><a href="#">My returns</a></li>
                <li><a href="#">menu4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>others</h6>
              <ul>
                <li><a href="#">find store</a></li>
                <li><a href="#">terms & conditions</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">faqs</a></li>
              </ul>
            </div>
        </div>
    </div>
  </footer>
</body>

</html>