<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Home Page</title>
  <link rel="stylesheet" href="style.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="header-wrap">
        <a href="#" class="logo"><img src="assets/images/logo.png"></a>
        <ul class="menu-list">
          <li><a href="home.component.html">Home</a></li>
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="list.component.html">Shop</a></li>
          <li><a href="blog.html">blog</a></li>
        </ul>
        <div class="right-menu">
          <a href="#" class="head-ico search"></a>
          <a href="account.component.html" class="head-ico user"></a>
          <a href="cart.component.html" class="head-ico cart"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="breadcrumb"> 
    <div class="wrapper">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">login</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <section>
        <h2 class="title">login</h2>
        <div class="wrapper">
            <div class="login-wrap">
                <div class="using-social">
                  <div class="step-title">
                    <h6>using your  social account</h6>
                  </div>
                  <div class="social-option">
                      <a href="#"><img src="assets/images/google-ico.png"></a>
                      <a href="#"><img src="assets/images/fb-ico.png"></a>
                      <p>Signing up with social is super quick. No extra passwords to<br/>
                        remember - no brain fail.</p>
                  </div>
                </div>
                <div class="using-email">
                  <div class="step-title">
                    <h6>USING YOUR EMAIL</h6>
                  </div>
                  <div class="login-form">
                      <form>
                          <div class="form-wrap">
                              <ul class="form-list">
                                  <li>
                                    <input type="email" placeholder="email">
                                  </li>
                                  <li>
                                    <input type="password"  placeholder="password">
                                  </li>
                                  <li><a href="#" class="link">FORGOT YOUR PASSWORD?</a></li>
                                  <li><a href="#" class="btn">sign in</a></li>
                              </ul>
                          </div>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </section>
  </div>
  <footer>
    <div class="wrapper">
        <div class="footer-wrap">
            <div class="col">
              <h6>categories</h6>
              <ul>
                <li><a href="#">category1</a></li>
                <li><a href="#">category2</a></li>
                <li><a href="#">category3</a></li>
                <li><a href="#">category4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>customer service</h6>
              <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>My Account</h6>
              <ul>
                <li><a href="#">order status</a></li>
                <li><a href="#">saved products</a></li>
                <li><a href="#">My returns</a></li>
                <li><a href="#">menu4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>others</h6>
              <ul>
                <li><a href="#">find store</a></li>
                <li><a href="#">terms & conditions</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">faqs</a></li>
              </ul>
            </div>
        </div>
    </div>
  </footer>
</body>
</html>