<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Home Page</title>
  <link rel="stylesheet" href="style.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="header-wrap">
        <a href="#" class="logo"><img src="assets/images/logo.png"></a>
        <ul class="menu-list">
          <li><a href="home.component.html">Home</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="list.component.html">Shop</a></li>
                    <li><a href="blog.html">blog</a></li>
        </ul>
        <div class="right-menu">
          <a href="#" class="head-ico search"></a>
          <a href="account.component.html" class="head-ico user"></a>
          <a href="cart.component.html" class="head-ico cart"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="breadcrumb"> 
    <div class="wrapper">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Checkout</a></li>
        <li><a href="#">Shipping</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <section class="cart">
        <div class="wrapper">
          <div class="checkout-tab">
             <ul>
               <li class="active">
                 <a href="#">
                    <img src="assets/images/shipping.png">
                     shipping
                 </a>
               </li>
               <li>
                <a href="#">
                   <img src="assets/images/payment.png">
                    payment
                </a>
              </li>
             </ul>
          </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="checkout-wrap">
                <div class="checkout-dtl">
                    <div class="checkout-step active">
                        <div class="step-title">
                            <h6>1. shipping address</h6>
                            <a href="#" class="edit-btn">edit</a>
                        </div>
                        <div class="shipping-adres">
                            <div class="form-wrap">
                                <ul class="form-list">
                                    <li>
                                      <label>name*</label>
                                      <input type="text" name="name" id="name" placeholder="Enter Your Name"> 
                                    </li>
                                    <li>
                                      <label>email*</label>
                                      <input type="email" name="email" id="email" placeholder="Enter Your Email"> 
                                    </li>
                                    <li>
                                      <label>street address*</label>
                                      <input type="text" placeholder="House No/Street"> 
                                      <input type="text" placeholder="Area /Landmark"> 
                                    </li>
                                    <li class="half">
                                      <label>country*</label>
                                      <input type="text" name="country" id="country" placeholder="Enter Your Country"> 
                                    </li>
                                    <li class="half">
                                      <label>city*</label>
                                      <input type="text" name="city" id="city" placeholder="Enter Your City"> 
                                    </li>
                                    <li class="half">
                                      <label>zip/postal code*</label>
                                      <input type="text" name="postal-code" id="postal-code" placeholder="Eg:- 422010"> 
                                    </li>
                                    <li class="half">
                                      <label>state*</label>
                                      <input type="text" name="state" id="state" placeholder="Enter Your State"> 
                                    </li>
                                    <li>
                                      <label>Mobile No*</label>
                                      <input type="text" name="mobile" id="mobile" placeholder="Enter Your Mobile No"> 
                                    </li>
                                    <li class="check-input">
                                      <input type="checkbox" class="chk"><label>my billing ans shipping address are same.</label>
                                    </li>
                                    <li>
                                      <input type="submit" class="btn" value="SAVE & CONTINUE" > 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-step">
                      <div class="step-title">
                          <h6>2. payment</h6>
                          <a href="payment.component.html" class="edit-btn">edit</a>
                      </div>
                    </div>
                </div>
                <div class="order-summary">
                    <h4>order summary</h4>
                    <ul class="min-cart">
                      <li>
                        <div class="item">
                          <div class="img-box">
                            <img src="assets/images/prod-img1.jpg">
                          </div>
                          <div class="data">
                            <span class="item-name">Item name</span>
                            <span><label>qty:</label>1</span>
                          </div>
                        </div>
                        <p>₹320.00</p>
                      </li>
                      <li>
                        <div class="item">
                          <div class="img-box">
                            <img src="assets/images/prod-img1.jpg">
                          </div>
                          <div class="data">
                            <span class="item-name">Item name</span>
                            <span><label>qty:</label>1</span>
                          </div>
                        </div>
                        <p>₹320.00</p>
                      </li>
                    </ul>
                    <div class="total">
                        <p><span>subtotal</span><span>₹640.00</span></p>
                        <p><span>sale tax</span><span>₹8.50</span></p>
                        <p><span>shipping</span><span>₹10.50</span></p>
                    </div>
                    <div class="total">
                      <p><span>total</span><span>₹659.00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
  <footer>
    <div class="wrapper">
        <div class="footer-wrap">
            <div class="col">
              <h6>categories</h6>
              <ul>
                <li><a href="#">category1</a></li>
                <li><a href="#">category2</a></li>
                <li><a href="#">category3</a></li>
                <li><a href="#">category4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>customer service</h6>
              <ul>
                <li><a href="#">menu1</a></li>
                <li><a href="#">menu2</a></li>
                <li><a href="#">menu3</a></li>
                <li><a href="#">menu4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>My Account</h6>
              <ul>
                <li><a href="#">order status</a></li>
                <li><a href="#">saved products</a></li>
                <li><a href="#">My returns</a></li>
                <li><a href="#">menu4</a></li>
              </ul>
            </div>
            <div class="col">
              <h6>others</h6>
              <ul>
                <li><a href="#">find store</a></li>
                <li><a href="#">terms & conditions</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">faqs</a></li>
              </ul>
            </div>
        </div>
    </div>
  </footer>
</body>
</html>